{% if loading %}
  <div class="dimmed light">{{ "LOADING" | translate | safe }}</div>
{% else %}
  <h1 class="small">
    AQI
  </h1>

  <div class="aqi-label {{ levelClass }}">
    <div class="regular medium">
      {{ aqi }}
    </div>
  </a>
{% endif %}
